$md-container-width: 1024px;
$lg-container-width: 1300px;

/** Media Query Break Points */
$screen-md-query-max-width: 1280px;
$screen-md-query-min-width: 1279px;
$screen-lg-query-max-width: 1400px;

// Defining values
// Extra small devices (portrait phones, less than 576px)
$screen-xs-min:  575.98px;
// Small devices (landscape phones, less than 768px)
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
// Medium devices (tablets, less than 992px)
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
// Large devices (desktops, less than 1200px)
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
// Larger screens (desktops, less than 1200px)
$screen-lx-min: 1440px;
$screen-lg-max: ($screen-lx-min - 1);