@import "tools/functions";
/*
*   Brand colors
*/
$primary: #0049b7 !default;
$secondary: #ff1d58 !default;
$accent: #008D6A !default;
$paragraph: #4e6083 !default;
/*
*   Typography
*/
$nav-color: $secondary !default;
$nav-font-size: 15px !default;
$nav-font-family: 'Rubik' !default;
$nav-line-height: 1.73;

$purple: #522e86 !default;
$white: #ffffff !default;
$black: #000000 !default;
